

/************************
 *  Menu de navigation
 *
 *************************/
 
 
 /******   Premier niveau  ********/
 
ul.choix >li {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url(../img/sprites.png);
  background-repeat: no-repeat;
  position: relative;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

ul.choix li ul {
  display: none; 
  margin: 0;
  padding: 0;
  position: absolute;
  top: 30px;
  left: 20px;
  z-index: 1000;
}

 
ul.choixNy >li {
  display: inline-block;
  width: 260px;
  height: 250px;
  background-image: url(../img/ny.png);
  background-repeat: no-repeat;
  position: relative;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

ul.choixNy li ul {
  display: none; 
  margin: 0;
  padding: 0;
  position: absolute;
  top: 15px;
  left: 10px;
  z-index: 1000;
  border-radius: 100px;
  margin : auto;
}

/************  Second niveau *********/

ul.choix li ul li ul {
  display: none; 
  margin: 0;
  padding: 0;
  position: absolute;
  top: 30px;
  left: 60px;
  z-index: 1000;
}

ul.choix li ul li {
  border: 1px solid white;
  background-color:  #AAADEC;
  display: block;
  width: 200px;
  height: 35px;
  line-height: 35px;
  padding: 5px;
  position: relative;
  

}

ul.choix li:hover ul {
  display: block;
}

.svg {
}

ul.choixNy li ul li ul {
   display: none; 
  margin: 0;
  padding: 0;
  position: absolute;
  top: auto;
  left: auto;
  z-index: 1000;
  
}


ul.choixNy li ul li {
  border: 1px solid fed136;
  background-color:  #fed136;
  display: block;
  width: 200px;
  height: auto;
  line-height: auto;
  padding: auto;
  position: relative;
  color : white;
}

ul.choixNy li:hover ul {
  display: block;
}

/**** TroisiÃ¨me niveau ******/
ul.choix li:hover ul li ul {
  display: none;
}

ul.choix li ul li:hover ul {
  display: block;
}

ul.choixNy li:hover ul li ul {
  display: none;
}

ul.choixNy li ul li:hover ul {
  display: block;
}

/*  rÃ¨gles pour tous les liens du menu */
ul.choix a {
  display: block;
  color: white;
  font-size: 1.1em;
  text-decoration: none;
}

ul.choixNy a {
  display: block;
  color: black;
  font-size: 1.1em;
  text-decoration: none;
}

/*  RÃ¨gles de positionnement du sprite en fonction de la classe du <li> */



/*  Pied  */

ul.choix li.pied {
  background-position: -103px -1px;
}

ul.choix li.pied:hover {
  background-position: -103px -52px;
}


ul.choixNy li.pied {
  background-position: -25px -23px;
}

ul.choixNy li.pied:hover {
  background-position: -21px -308px;
}


/* VÃ©lo */
ul.choix li.velo {
  background-position: -1px -1px;
}

ul.choix li.velo:hover {
  background-position: -1px -52px;
}

ul.choixNy li.velo {
  background-position: -285px -29px;
}

ul.choixNy li.velo:hover {
  background-position:-281px -314px;
}

/*  Auto  */
ul.choix li.auto {
  background-position: -154px -1px;
}

ul.choix li.auto:hover {
  background-position: -154px -52px;
}

ul.choixNy li.auto {
  background-position: -555px -41px;
}

ul.choixNy li.auto:hover {
  background-position: -551px -326px;
}


/*  avion */

ul.choix li.avion {
  background-position: -52px -1px;
}

ul.choix li.avion:hover {
  background-position: -52px -52px;
}


ul.choixNy li.avion {
  background-position:  -824px -42px;
}

ul.choixNy li.avion:hover {
  background-position: -820px -327px;
}

