

header {
  background-image: url('../img/accueil.jpg');
}


.intro-lead-in {
color: #FFD700;
text-shadow: 
}

#service1 {
padding-bottom: 2%;
}

.btn-xl {
background-color: #FFA500;
border-color: #FFA500  ;
}
title {
	content: attr(title);
	padding: 4px 8px;
	color: #333;
	position: absolute;
	left: 0;
	top: 100%;
	z-index: 20;
	white-space: nowrap;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0px 0px 4px #222;
	-webkit-box-shadow: 0px 0px 4px #222;
	box-shadow: 0px 0px 4px #222;
	background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #cccccc));
	background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
	background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
	background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
	background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
}
/*   PAGE A PROPOS                        */
#apropos {
padding-top: 6%;

}

#contenu_apropos {
border: #FFE4E1;
border-radius:3px;
box-shadow: 1px 1px 4px #E0E0E0;
padding-top: 4%;
padding-bottom: 2%;
margin-left: 2%;
margin-right: 2%;
}

.nom {
padding-left: %;
}